.controls
{
   margin-left: 30%;
   display: inline;
   font-size: 16px;
}

.controls select
{
   background: transparent;
   width: auto;
   padding: 3px;
   line-height: 1;
   height: 30px;
}

.controls button
{
   background: transparent;
   width: auto;
   padding: 3px;
   height: 30px;
}
.board td
{
   height:10%;
   width:10%
}

.turn
{
   border-width: 2px;
   border-color: #F5D905;
   border-style: solid;
}

.checker-light:hover,
.checker-dark:hover
{
   background-color: #60BFFF;
}

.checker-light
{
   background-color: #FFAE52;
}

.checker-dark
{
   background-color: #B07A3C;
}

.checker-highlight
{
   background-color: #60BFFF;
}

.possible-move
{
   background-color: #80DFFF
}

.possible-move:hover
{
   background-color: #80FF80
}

.board-row
{
}

.black-checker
{

   height: 80%;
   width: 80%;
   min-width: 1px;
   min-height: 1px;
   border-radius: 100%;
   background-color: #111111;
   margin: auto;
   z-index: 100000;

}

.red-checker
{

   height: 80%;
   width: 80%;
   min-width: 1px;
   min-height: 1px;
   border-radius: 100%;
   background-color: #EE1111;
   margin: auto;
   z-index: 100000;

}

.board
{
   height: 25vw;
   width: 25vw;
   margin-left: auto;
   margin-right: auto;
   margin-top: 5%;
   
   border-spacing: 2px;
}
